@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "progress_bar";

$mobile:  new-breakpoint(max-width 769px 12);

nav {
  @include outer-container;
  width: 50%;
  margin: 20px auto;
  text-align: center;

  a {
    padding: 10px 20px;
    font-size: small;
  }
}

section#main {
  @include outer-container;
  width: 50%;
  margin: 20px auto;
}

#article-list {
  @include outer-container;
  width: 50%;
  margin: 20px auto;
  padding-bottom: 40px;

  @include media($mobile) {
    width: 95%;
    max-width: 320px;
  }

  h1 {
    text-align: center;
  }

  .swipe-instructions {
    display: none;

    @include media($mobile) {
      display: block;
    }
  }

  .add-reject-confirmation {
    @include row;

    .progress-bar-indication {
      @include span-columns(9);
    }

    button {
      display: block;
      @include span-columns(3);
    }
  }

  .article {
    @include outer-container;
    border-bottom: 1px solid #CCCCCC;
    margin: 20px 0;

    .accept-reject-article {
      @include row;

      @include media($mobile) {
        display: none;
      }

      button {
        @include span-columns(4);

        &.accept {
          background-color: green;
        }
        &.reject {
          @include shift(3);
          background-color: maroon;
        }
      }
    }

    h2 {
      text-align: center;
    }

    .article-details {
      @include row;
      @include span-columns(12);

      .created_at {
        @include span-columns(2);
        text-align: right;

        @include media($mobile) {
          @include span-columns(12);
          text-align: center;
        }
      }

      .subject {
        @include span-columns(10);

        @include media($mobile) {
          @include span-columns(12);
          text-align: center;
        }
      }
    }

    .article-content {
      @include span-columns(12);
      @include omega;
    }
  }
}

#unlabeled-cards {
  h2 {
    text-align: center;
  }

  .card {
    @include row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
  }

  .card-color {
    @include span-columns(4);
    min-height: 50px;
    text-align: center;
    color: #333333;
  }
}

#unread-cards {
  @include outer-container;

  header {
    @include span-columns(12);

    @include media($mobile) {
      text-align: center;
    }
  }

  .cards {
    @include outer-container;
    @include span-columns(12);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stetch;


    card {
      margin-right: 10px;
      margin-bottom: 15px;
      padding: 14px;
      width: 240px;
      box-shadow: 0px 5px 15px #CCCCCC;

      &.doing {
        opacity: 0.7;
      }

      &.green {
        border-top: 3px solid #52A74F;
      }

      &.orange {
        border-top: 3px solid #FF7200;
      }

      &.yellow {
        border-top: 3px solid #FEDF83;
      }

      h2 {
        @include media($mobile) {
          text-align: center;
        }
      }

      a {
        @include button;
        margin: 5px 0;
      }
    }
  }
}
