<h2>
  {{card.name}}
</h2>
<div class='label-choices' ng_show='card.labels.length === 0'>
  <a class='card-color' data-card-id='{{card.id}}' data-color-selector data-label-color='{{color.color}}' ng_repeat='color in cardLabels' style='background-color: {{color.hex}}'>
    {{color.name}}
  </a>
</div>
<ul class='labels'>
  <li class='label' ng_class='label.color' ng_repeat='label in card.labels'>
    {{ label.name }}
  </li>
</ul>
<ul class='links'>
  <li>
    <a class='article' ng_href='{{ card.attachments[0].url }}' target='_blank'>Read Article</a>
  </li>
  <li>
    <a class='trello' ng_href='{{ card.shortUrl }}' target='_blank'>View On Trello</a>
  </li>
  <li>
    <a class='archive' data-archive-card data-id='{{card.id}}' ng_href='nothing'>Archive</a>
  </li>
  <li>
    <a class='doing' data-id='{{card.id}}' data-move-to-doing>Move To Doing</a>
  </li>
</ul>
