<section id='unread-cards' ng-controller='cards' ng-init='unreadCards()'>
  <header>
    {{cards.length}} unread articles
  </header>
  <div class='cards'>
    <div class='card' id='{{card.id}}' ng_class='card.labels[0].color' ng_repeat='card in cards'>
      <h2>
        {{card.name}}
      </h2>
      <ul class='labels'>
        <li class='label' ng_class='label.color' ng_repeat='label in card.labels'>
          {{ label.name }}
        </li>
      </ul>
      <ul class='links'>
        <li>
          <a ng_href='{{ card.attachments[0].url }}' target='_blank'>link to article</a>
        </li>
        <li>
          <a ng_href='{{ card.shortUrl }}' target='_blank'>{{card.shortUrl}}</a>
        </li>
        <li>
          <a data-archive-card data-id='{{card.id}}' ng_href='nothing'>archive</a>
        </li>
        <li>
          <a data-id='{{card.id}}' data-move-to-doing>Move To Doing</a>
        </li>
        <li>
          <a data-id='{{card.id}}' data-move-to-doing>Move To Done</a>
        </li>
      </ul>
    </div>
  </div>
</section>
