%section{"ng-controller" => "showUnread", id: "article-list",
  "ng-init" => "unDecided()"}

  .swipe-instructions
    Swipe left to reject, swipe right to accept article


  %h1 {{ unreadArticles.length  - articlesRejectedOrAccepted }} Unread Articles
  .article{ ng_repeat: "article in unreadArticles",
    id: "article_{{article.id}}",
    data: {swipable_article: true, article_id: "{{article.id}}"}}

    .accept-reject-article
      %button.accept{ name: "accept_reject_{{$index}}",
                      ng_click: "addRemoveFromList(article.id, true)"}
        Accept

      %button.reject{ name: "accept_reject_{{$index}}",
                      ng_click: "addRemoveFromList(article.id, false)"}
        Reject


    %h2 {{ article.title }}

    .article-details
      %p.subject {{ article.email_subject }}
      %p.created_at {{ article.created_at | date }}

    .article-content
      %a{ng_href: "{{article.url}}", target: "_blank"} link

      ({{article.id}})
