%section#unread-cards{'ng-controller' => "cards",
  "ng-init" => "unreadCards()"}

  %header
    {{cards.length}} unread articles

  .cards
    %card{ng_repeat: "card in cards", ng_class: "card.labels[0].color",
      id: "{{card.id}}"}


