!!!
%html
  %head
    %title Articles To Read ARR
    %link{rel: "stylesheet", href: "/public/css/app.css", media: "all"}

    %meta{name:"viewport", content: "width=device-width, initial-scale=1"}
    %meta{http_equiv: "content-type", content: "text/html; charset=utf-8"}
  %body{"ng-app"=>"elFrontend"}
    %nav
      %a{"ui-sref" => "undecided"} Accept/Reject
      %a{"ui-sref" => "unlabeled"} Unlabeled Cards
      %a{"ui-sref" => "unread"} Unread Cards

    %section#main
      %ui-view

    %script{type:"text/javascript",
      charset:"utf-8",
      src:"https://code.jquery.com/jquery-2.1.4.min.js"}

    %script{type:"text/javascript",
      charset:"utf-8",
      src:"https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"}

    %script{src: "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"}
    %script{src: "/public/js/app.js"}
